
#announcement .item:first-child .ui.label .hidden-mb {
    display: inline-block;
}

#articlelist {
    padding: 0;
}

#articlebottons:after {
    clear: both;
    content: "";
    display: block;
}

#topicItems > .item > .user.picture > .image {
    width: 4rem;
}

#topicItems > .item {
    cursor: pointer;
    position: relative;
    padding: 0;
}

#topicItems > .item > .user.picture {
    padding: .5em .7em;
    border-right: 1px solid rgba(34, 36, 38, .15);
}

#topicItems > .item > .content {
    padding: .5em .7em 0em 1em;
}


#topicItems > .item > .user.picture:hover, #topicItems > .item > .content:hover {
    background: #ECECEC;
}

#topicItems > .item:hover .topicQuickTools {
    opacity: 1;
}

#topicItems > .item .topicQuickTools > .pointing.label:before {
    display: none;
}

#todayHot, #yesterdayHot {
    min-height: 300px;
}

@media only screen and (max-width: 768px) {

    #announcement {
        background: none;
        box-shadow: none;
        border: none;
    }

    #announcement .label {
        background: none;
    }

    #articlelist {
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        border: none;
        background-color: transparent;
    }

    #topicItems > .item > .user.picture > .image {
        width: 70px !important;
        max-width: 30% !important;
        margin-left: inherit;
    }

    #leftContent {
        width: 100% !important;
        padding: 0;
    }

    #rightContent {
        width: 100% !important;
        padding: 0;
    }

    #topicItems > .item {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    #leftContent > *, #rightContent > * {
        margin: 0;
    }
}

#topicItems > .item > .content {
    padding-top: 0.5em;
}

#topicItems > .item img {
    border-radius: .25rem;
}

#topicItems > .item > .content > .header > .title {
    display: inline-block;
}

#topicItems > .item > .content > .header:after {
    width: 100%;
    height: 2px;
    background-color: #4183C4;
    content: '';
    -webkit-transition: all 0.2s;
    -webkit-backface-visibility: hidden;
    transition: all 0.2s;
    backface-visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    clear: both;
    display: block;
}

#topicItems > .item .topicQuickTool > .icon {
    margin: 0;
}

#topicItems > .item .topicQuickTools > .topicQuickTool {
    margin: auto;
}

#topicItems > .item .topicQuickTools {
    float: right;
    transition: opacity 0.5s ease;
    opacity: 0;
}

#topicItems > .item > .content > .header:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#topicItems > .item > .content > .header i.icon {
    margin: 0 0 0 0;
}

#topicItems > .item > .content > .extra > .ui.label .icon {
    margin: 0 .1em 0 0;
}

#topicItems > .item > .user.picture > .ui.card .image > .ribbon.label, .ui.image > .ui.ribbon.label {
    top: .3em;
    padding: .2em .3em .2em .3em;
    left: calc(.49em - 1.2em);
}

#topicItems > .item > .user.picture > .ui.card .image > .ribbon.label, .ui.image > .ui.ribbon.label:after {
    border-width: 0 0.8em 0.8em 0;
}

#topicItems > .item > .content > .extra > .ui.label, #topicItems > .item > .content > .extra > .ui.label > a.ui.label {
    padding: .2em .25em;
}

#topicItems > .item > .content > .extra {
    margin: 0;
}

#rightContent > .ui.segment > .ui.divided.items > .item > .ui.label {
    padding: 0.3em .2em;
    text-align: center;
}

#rightContent > .ui.segment > .ui.divided.items > .item > .content {
    display: inline-block;
}

#rightContent > .ui.ad {
    width: 100%
}

#rightContent > .ui.segment > .ui.divided.items > .item {
    padding: .5em 0;
}

#rightContent > .ui.segment > .ui.divided.items > .item > .content:after {
    display: none;
}

#announce {
    margin-left: .8rem;
    top: .2rem;
}

#announcement .ui.text.shape .side {
    width: 100%;
}

#sortTopic {
    float: right;
}

.topiclist > .item.topic > .content > a.header.larger {
    font-size: 1.1em;
}

.item.topic > .ui.right.attached.label.status {
    border-top-right-radius: 0;
    padding: .5em;
}