.user.operate.buttons .ui.button {
    padding-top: 0.3em;
    margin-bottom: .2em;
    padding-bottom: 0.3em;
}

#mainArea .ui.topic.extra.segment, #commentArea .ui.topic.extra.segment {
    padding: 0;
    border-radius: 0;
}

.ui.topic.extra.segment > .ui.segment.row {
    padding: .5em;
}

.ui.topic.extra > .ui.segment {
    padding-bottom: .2em;
    padding-top: .2em;
}

#mainArea .topic.content {
    min-height: 12em;
}

#mainArea .user.info.fixed {
    height: 0;
}

#commentArea .topic.content {
    padding-top: .1em;
    padding-bottom: .1em;
}

.bottom.message > .ui.buttons > .ui.button {
    padding-top: .45rem;
    padding-bottom: .45rem;
}

.bottom.message > .ui.button > i.icon {
    margin: 0;
}

.bottom.message > .ui.labels > .ui.label {
    margin-bottom: 0;
}

#mainArea .user.info, #commentArea .user.info {
    padding-right: 0;
}

#mainArea .user.content, #commentArea .user.content {
    padding-left: .5rem;
}

#commentArea .ui.attached.message {
    padding-bottom: .4rem;
    padding-top: .4rem;
}

#commentArea .ui.card > .content > .header:not(.ui), .ui.cards > .card > .content > .header:not(.ui) {
    font-size: .9em;
}

#commentArea .ui.card > .content, .ui.cards > .card > .content {
    padding-bottom: .2em;
    padding-top: .5em;
}

#commentArea .ui.card .meta, .ui.cards > .card .meta {
    font-size: .45em;
}

#commentArea .comment.title.ui.segment {
    line-height: 28px;
    padding: 0;
}

.extra.topic > .ui.segment {
    border-top: 1px solid rgba(34, 36, 38, .15);
}

#replyArea .word.column {
    margin: auto;
    padding-left: 2em;
}

#topic {
    margin-top: 0;
    padding-top: 0;
}

#mainArea > .column {
    padding-top: 0;
}

#mainArea .overlay.fixed > .ui.fluid.card {
    margin-top: auto;
    width: 67%;
    right: -380%;
}

#mainArea .overlay > .ui.fluid.card {
    margin-top: -50%;
    right: 0;
    z-index: 1;
    transition: right 0.5s ease;
}

#topicMaster .topic.title.value {
    text-transform: none;
}

#topicMaster .topic.time > .item {
    display: inline-block;
}

#topicMaster {
    padding-bottom: 0;
}

#topicOperateButton {
    padding: .48571429em;
    margin-left: 0.1em;
}