<div class="item" style="display: none">
	<div class="ui label">Java</div>
	<div class="content">Did you know? This side starts visible.</div>
</div>
<div class="item" style="display: none">
	<div class="ui label">Java</div>
	<div class="content">Did you know? This side starts visible.</div>
</div>
<div class="item" style="display: none">
	<div class="ui label">Java</div>
	<div class="content">Did you know? This side starts visible.</div>
</div>
<div class="item" style="display: none">
	<div class="ui label">Java</div>
	<div class="content">Did you know? This side starts visible.</div>
</div>
<div class="item" style="display: none">
	<div class="ui label">Java</div>
	<div class="content">Did you know? This side starts visible.</div>
</div>
<div class="item" style="display: none">
	<div class="ui label">Java</div>
	<div class="content">Did you know? This side starts visible.</div>
</div>
<div class="item" style="display: none">
	<div class="ui label">Java</div>
	<div class="content">Did you know? This side starts visible.</div>
</div>
<div class="item" style="display: none">
	<div class="ui label">Java</div>
	<div class="content">Did you know? This side starts visible.</div>
</div>
<div class="item" style="display: none">
	<div class="ui label">Java</div>
	<div class="content">Did you know? This side starts visible.</div>
</div>