<!---
layout("/template/template.html",{
'CSS':['/css/pages/index.css'],
'JS':['/js/pages/index.js'],
'configTool':true
}){
--->
<div id="leftContent" class="ten wide column">
    <div id="announcement" class="ui white message">
        <div class="item">
            <div class="ui white label">
                <i class="announcement icon"></i>
            </div>
            <div id="announce" class="ui text shape">
                <div class="sides">
                    <div class="active ui header side">Did you know? This side starts visible.</div>
                    <div class="ui header side">Help, its another side!</div>
                    <div class="ui header side">This is the last side</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui attached message">
        <div class="header">
            Welcome to our site!
        </div>
        <p>Fill out the form below to sign-up for a new account</p>
    </div>
    <div id="articlelist" class="ui attached fluid segment">
        <div class="ui divided items" page="<beetl>page!1</beetl>">
            <!--- if(has(articles) && articles !=null){ layout("/ajax/_article.html",{'lists':articles}){};}--->
        </div>
    </div>
    <div id="articlebottons" class="ui clearing segment">
        <div id="prePage" class="ui left floated labeled icon button">
            <i class="angle double left icon"></i>
            Prev
        </div>
        <div id="nextPage" class="ui right floated right labeled icon button">
            <i class="angle double right icon"></i>
            Next
        </div>

    </div>

</div>
<div id="rightContent" class="four wide column">
    <div id="todayHot" class="ui  segment">
        <h4 class="ui horizontal header divider">
            <i class="bar chart icon"></i> Today HotSpot
        </h4>

        <div class="ui divided items"></div>
    </div>
    <div id="yesterdayHot" class="ui segment">
        <h4 class="ui horizontal header divider">
            <i class="bar chart icon"></i> Yesterday HotSpot
        </h4>

        <div class="ui divided items"></div>
    </div>
    <div class="ui vertical rectangle test ad" data-text="Advertisement"></div>
</div>
<!---}--->