
#announcement .item:first-child .ui.label .hidden-mb {
    display: inline-block;
}

#articlelist {
    margin-top: .5em;
}

#articlebottons:after {
    clear: both;
    content: "";
    display: block;
}

#articlelist > .ui.divided.items > .item > .image {
    width: 5rem;
}

#articlelist > .ui.divided.items > .item {
    transition: background 0.5s ease;
}

#articlelist > .ui.divided.items > .item:hover {
    background: #ECECEC;
}

#todayHot, #yesterdayHot {
    min-height: 300px;
}

@media only screen and (max-width: 768px) {

    #announcement {
        background: none;
        box-shadow: none;
        border: none;
    }

    #announcement .label {
        background: none;
    }

    #articlelist {
        box-shadow: none;
        border: none;
        background-color: transparent;
    }

    #articlelist > .ui.divided.items > .item > .image {
        width: 70px !important;
        max-width: 30% !important;
        margin-left: inherit;
    }

    #mainContent #leftContent {
        width: 100% !important;
    }

    #mainContent #rightContent {
        width: 100% !important;
    }

    #articlelist > .ui.divided.items > .item {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
}

@media screen and ( max-width: 600px) {
    #articlelist {
        padding-left: 0;
        padding-right: 0;
    }

}

#articlelist > .ui.divided.items > .item {
    padding: 1em 2em !important;
}

#articlelist > .ui.divided.items > .item > .content {
    padding-top: 0.5em;
}

#articlelist > .ui.divided.items > .item img {
    border-radius: .25rem;
}

#articlelist > .ui.divided.items > .item > .content > .header > .title {
    display: inline-block;
}

#articlelist > .ui.divided.items > .item > .content > .header:after {
    width: 100%;
    height: 1.5px;
    background-color: #4183C4;
    content: '';
    -webkit-transition: all 0.2s;
    -webkit-backface-visibility: hidden;
    transition: all 0.2s;
    backface-visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    clear: both;
    display: block;
}

#articlelist > .ui.divided.items > .item > .content > .header:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#articlelist > .ui.divided.items > .item > .content > .header i.icon {
    margin: 0 0 0 0;
}

#articlelist > .ui.divided.items > .item > .content > .extra > .ui.label .icon {
    margin: 0 .1em 0 0;
}

#articlelist > .ui.divided.items > .item > .ui.card .image > .ribbon.label, .ui.image > .ui.ribbon.label {
    top: .3em;
    padding: .2em .3em .2em .3em;
    left: calc(.49em - 1.2em);
}

#articlelist > .ui.divided.items > .item > .ui.card .image > .ribbon.label, .ui.image > .ui.ribbon.label:after {
    border-width: 0 0.8em 0.8em 0;
}

#articlelist > .ui.divided.items > .item > .content > .extra > .ui.label {
    padding: .2em .25em;
    margin: .55rem .2rem 0 0;
}

#rightContent > .ui.segment > .ui.divided.items > .item > .ui.label {
    padding: 0.3em .2em;
    text-align: center;
}

#rightContent > .ui.segment > .ui.divided.items > .item > .content {
    display: inline-block;
}

#rightContent > .ui.ad {
    width: 100%
}

#rightContent > .ui.segment > .ui.divided.items > .item {
    padding: .5em 0;
}

#rightContent > .ui.segment > .ui.divided.items > .item > .content:after {
    display: none;
}

#announce {
    margin-left: .8rem;
    top: .2rem;
}

#announcement, #articlelist, #articlebottons, #todayHot, #yesterdayHot {
    border-radius: 0;
}