
#articlebottons:after {
    clear: both;
    content: "";
    display: block;
}

#announcement .item:first-child .ui.label .hidden-mb {
    display: inline-block;
}

#articlelist {
    margin-top: .5em;
    padding-left: 2em;
}

#articlelist .ui.divided.items .item > .ui.image {
    width: 5rem;
}

#todayHot, #yesterdayHot {
    min-height: 300px;
}

@media only screen and (max-width: 768px) {

    #announcement {
        background: none;
        box-shadow: none;
        border: none;
    }

    #articlelist {
        box-shadow: none;
        border: none;
        background-color: transparent;
    }

    #mainContent #articlelist .ui.divided.items > .item > .image {
        width: 70px !important;
        max-width: 30% !important;
        margin-left: inherit;
    }

    #mainContent #leftContent {
        width: 100% !important;
    }

    #mainContent #rightContent {
        width: 100% !important;
    }

    #articlelist .ui.divided.items > .item {
        padding-left: 1em;
    }
}

@media screen and ( max-width: 600px) {
    #articlelist {
        padding-left: 0;
    }

}

#articlelist .ui.divided.items > .item {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#articlelist .ui.divided.items > .item > .content {
    padding-top: 0.5em;
}

#articlelist .ui.divided.items > .item img {
    border-radius: .25rem;
}

#articlelist .ui.divided.items > .item > .content > .header i.icon {
    margin: 0 0 0 0;
}

#articlelist .ui.divided.items > .item > .content > .extra > .ui.label .icon {
    margin: 0 .1em 0 0;
}

#articlelist .ui.divided.items > .item > .ui.card .image > .ribbon.label, .ui.image > .ui.ribbon.label {
    top: .3em;
    padding: .2em .3em .2em .3em;
    left: calc(.49em - 1.2em);
}

#articlelist .ui.divided.items > .item > .ui.card .image > .ribbon.label, .ui.image > .ui.ribbon.label:after {
    border-width: 0 0.8em 0.8em 0;
}

#articlelist .ui.divided.items > .item > .content > .extra > .ui.label {
    padding: .2em .25em;
    margin: .55rem .2rem 0 0;
}

#rightContent > .ui.segment > .ui.divided.items > .item > .ui.label {
    padding: 0.3em .2em;
    text-align: center;
}

#rightContent > .ui.segment > .ui.divided.items > .item > .content {
    display: inline-block;
}

#rightContent > .ui.ad {
    width: 100%
}

#rightContent > .ui.segment > .ui.divided.items > .item {
    padding: .5em 0;
}

#rightContent > .ui.segment > .ui.divided.items > .item > .content:after {
    display: none;
}

#announce {
    margin-left: .8rem;
    top: .2rem;
}