body {
    overflow-x: hidden;
    background: #FAFAFB;
}

/* sroll */
::-webkit-scrollbar {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #A7A7A7;
}

/* header */

#menu {
    background: 0 0;
    border: none;
    box-shadow: none;
}

#menu .item {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: none;
    border: none;
    padding: .71428571em .92857143em;
    margin: 0 .35714286em;
    background: 0 0;
}

#menu, #menu > .column {
    margin: 0;
    -webkit-transition: padding 0.5s ease, background-color 0.5s ease;
    transition: padding 0.5s ease, background-color 0.5s ease;
}

#menu .ui.dropdown {
    z-index: 102;
}

#menu.fixed > .column {
    padding: .5rem 12% .5rem 12%;
}

#menu.expended > .column {
    padding-left: 5em;
    padding-right: 5em;
}

#menu .right.menu .ui.animated.button a {
    color: black;
}

#menu .ui.animated.button .visible.content {
    margin-right: .5em;
}

#menu .ui.animated.button .hidden.content .icon {
    margin-right: -.5em;
}

#menu .ui.dropdown .menu .menu, #menu.ui.dropdown .menu .menu {
    margin: 0 !important;
}

#menu.fixed {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

#menu .left.menu > .item:hover {
    background: none;
}

#menu .left.menu > .item:hover > .itemBar {
    height: 100%;
}

#menu .left.menu > .item > .itemBar {
    position: absolute;
    width: 100%;
    height: 0px;
    background: #DADADA;
    transition: height 0.2s ease;
    left: 0;
    top: 0;
    z-index: -1;
}

#menu .left.menu > a.item, #menu .left.menu > div.item {
    border-radius: 0.25em !important;
}

#menu > .column {
    width: 100%;
    padding: 1em 12% 1em 12%;
}

#menu .left.menu {
    float: left;
}

#menu .right.menu {
    float: right;
}

#menu > .column .left.menu > img {
    width: 2.8em;
    padding: 0px;
    margin-right: 10px;
}

#menu .ui.headered.image {
    width: 3em;
    border-radius: .25rem;
    -webkit-transition: width 0.2s ease, height 0.2s ease;
    transition: width 0.2s ease, height 0.2s ease;
}

/* header user card*/

#userCardPop {
    padding: 0 0;
}

#userCard {
    box-shadow: none;
}

#userCard > .ui.bottom.attached.buttons {
    margin: -1px -1px;
}

#menu .item:before {
    content: initial;
}

#userItem > .ui.tiny.attached.label {
    padding: .1em .3em;
}

#userItem {
    padding: 0 0 0 0;
}

#userCard > .content > .header {
    text-align: center;
}

#userCard .description .item {
    display: inline-block;
}

#userCard .description .item a.label {
    padding: .1em .35em;
}

#userCard > .content > .description {
    padding: 0 2.1em 0 2.1em;
}

#userCard > .content > .description > .ui.divided.items > .item {
    padding: .4em 0 .4em;
    color: black;
}

#userItem > img {
    margin-left: auto;
    margin-right: auto;
}

#userItem > .ui.label {
    cursor: pointer;
}

/* header search*/
#searchSite {
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

#searchSite {
    width: 10em;
    background-color: transparent;
}

#searchSite.expended {
    width: 15em;
}

/* header expend button*/
#expendHeader .icon {
    margin: 0 0 0;
}

#expendHeader .ui.label {
    padding: .3em .5em;
}

/* footer */

.ui.footer.segment {
    border-radius: 0em;
    padding: 4em 8% 2em 8%;
    -webkit-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}

.ui.footer.segment.fixed {
    padding-top: 1em;
    padding-bottom: 0em;
    z-index: 101;
    margin: 0;
    border: none;
    bottom: 0px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.04);
    position: fixed;
}

/*main*/
#mainContent {
    -webkit-transition: height 0.3s ease, background 0.3s ease, border 0.4s ease, box-shadow 0.4s ease;
    transition: height 0.3s ease, background 0.3s ease, border 0.4s ease, box-shadow 0.4s ease;
}

/* go top icon */
#GTTop {
    position: fixed;
    bottom: 14%;
    z-index: 1000;
    right: 8%;
    display: none;
}

/* media */

@media screen and (min-width: 1200px) {
    #mainContent {
        padding: 1em 8% 1em 8%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #mainContent {
        padding: 1em 6% 1em 6%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media screen and ( min-width: 769px) {
    .hidden-pc {
        display: none !important;
    }
}

@media screen and ( max-width: 768px) {

    #GTTop {
        right: 2%;
        bottom: 6%;
    }

    .hidden-mb {
        display: none !important;
    }

    /* for header menu*/
    #menu > .column > .hidden-pc > .item:before {
        width: 0;
    }

    #menu {
        display: block;
        width: 100% !important;
    }

    #menu .left.menu, #menu .right.menu {
        float: none;
        display: block;
    }

    #menu > .column, #menu.fixed > .column {
        padding: 0;
    }

    #menu {
        display: block;
        background: #ffffff;
        margin: 0;
    }

    #menu .allmenus.menuhidden, #menu .allmenus.menuhidden {
        display: none !important;
    }

    /*--- Item ---*/
    #menu .item {
        display: block;
        padding: 1em 2em;
        margin: 0;
        border-radius: 0;
    }

    /*--- Label ---*/
    #menu .item > .label {
        float: right;
        text-align: center;
    }

    /*--- Icon ---*/
    #menu .item > i.icon {
        width: 1.18em;
        float: right;
        margin: 0em 0em 0em 0.5em;
    }

    #menu .item > .label + i.icon {
        float: none;
        margin: 0em 0.5em 0em 0em;
    }

    /*--- Border ---*/
    #menu .item:before {
        position: absolute;
        content: '';
        top: 0%;
        left: 0px;
        width: 100%;
        background: rgba(34, 36, 38, 0.1);
        height: 1px;
    }

    #menu .item:first-child:before {
        display: none !important;
    }

    /*--- Sub Menu ---*/
    #menu .menu .menu {
        left: 0 !important;
        margin: 0 !important;
        top: 100% !important;
    }

    #menu .ui.dropdown .menu .item .dropdown.icon:before {
        content: '\f0d7';
    }

    #menu .dropdown.item > .dropdown.icon:before {
        content: '\f0d7';
    }

    /*footer*/
    .ui.footer.segment {
        padding-bottom: 0;
        padding-top: 0;
    }
}

/* config tool */
#config-tool {
    position: fixed;
    right: 0;
    top: 100px;
    width: 230px;
    z-index: 1000;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

#config-tool.closed {
    right: -230px;
}

#config-tool-cog {
    background: #fff;
    border-radius: 3px 0 0 3px;
    background-clip: padding-box;
    box-shadow: -3px 3px 3px -2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    left: -3em;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 50px;
    -webkit-transition: left 0.1s ease;
    transition: left 0.1s ease;
    margin: 1em 0;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

#config-tool-options {
    background: #fff;
    box-shadow: -3px 3px 3px -2px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: static;
}

#config-tool-options .angle.double.left.icon {
    float: right;
    line-height: 0.9;
}

#config-tool-options .ui.list .item .angle.double.right.icon {
    display: inline;
}

/* other common css*/
.linked {
    cursor: pointer;
}

/*common label*/
.ui.transparent.label {
    background: transparent;
}

.ui.white.label {
    background-color: white;
}

/* nobox for segment */
.ui.nobox.segment {
    box-shadow: none;
    border: none;
    background-color: transparent;
}

/* extend success */
.ui.form .field.success input[type=text], .ui.form .field.success input[type=password] {
    background-color: #E4F7E1;
    border-color: green;
    color: green;
    box-shadow: none;
}

.ui.padding.segment {
    width: 50%;
}

.ui.padding.segment:after {
    clear: both;
    content: "";
    display: block;
}

/* form related */
.ui.form .ui.input > input {
    width: 100% !important;
}

.ui.form .inline.fields .field .fieldName {
    margin: auto;
}