<div id="topicHotTags" class="two wide column animated fast fadeInLeftTiny">
    <div class="ui attached message">
        <div class="header">
            Description
        </div>
    </div>
    <div class="ui attached fluid segment">
        <p>Fill out the form below to sign-up for a new account</p>
    </div>
    <div class="ui basic no left right padded segment areaButton">
        <button class="ui primary fluid button">New Topic</button>
        <button class="ui fluid button">Two</button>
        <button class="ui fluid button">Three</button>
    </div>
</div>
<div id="topicList" class="twelve wide column">
    <div id="areaSummery" class="ui attached message">
        <div class="ui row no padded clearing basic segment">
            <div class="ui left floated breadcrumb basic segment">
                <a class="section">
                    <beetl>SiteName</beetl>
                </a>
                <span class="divider">/</span>

                <div class="active section">
                    <beetl>curArea</beetl>
                </div>
            </div>
            <div id="sortTopic" class="ui dropdown labeled icon basic button">
                <i class="filter icon"></i>
                <span class="text">Sort</span>

                <div class="menu">
                    <div class="header">
                        <i class="tags icon"></i>
                        Sort Method
                    </div>
                    <div class="scrolling menu">
                        <div class="item" data-value="1">
                            <div class="ui red empty circular label"></div>
                            Order By System
                        </div>
                        <div class="item" data-value="2">
                            <div class="ui blue empty circular label"></div>
                            Order By Date
                        </div>
                        <div class="item" data-value="3">
                            <div class="ui black empty circular label"></div>
                            Order By Last Reply
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui header">
            <div class="ui three statistics">
                <div class="statistic">
                    <div class="value">
                        22
                    </div>
                    <div class="label">
                        Stars
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        31,200
                    </div>
                    <div class="label">
                        Topics
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        22
                    </div>
                    <div class="label">
                        Comments
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="topicItems" class="ui divided items topiclist no padded attached segment animated slow fadeIn"
         data-page="<beetl>page!1</beetl>"
         data-sort="<beetl>topicSort!1</beetl>">
        <!--- if(has(topics) && topics !=null){ layout("/ajax/_topic.html",{'topics':topics}){};}--->
    </div>
    <div id="articlebottons" class="ui bottom attached message">
        <div id="prePage" class="ui left floated basic labeled icon button">
            <i class="angle double left icon"></i>
            Prev
        </div>
        <div id="nextPage" class="ui right floated basic right labeled icon button">
            <i class="angle double right icon"></i>
            Next
        </div>
    </div>
</div>



