<div id="signForm" class="ui form">
    <div class="inline fields">
        <div class="fourteen wide field">
            <label class="fieldName">用户名</label>

            <div class="ui input fieldValue"><input type="text" placeholder="your login name"/></div>
        </div>
    </div>
    <div class="inline fields">
        <div class="fourteen wide field">
            <label class="fieldName">密码</label>
            <div class="ui icon input fieldValue"><input type="password" placeholder="your password"/><i
                    class="eye icon"></i></div>
        </div>
    </div>
    <div class="inline fields">
        <div class="fourteen wide field">
            <label class="fieldName">验证码</label>
            <img src="">
            <div class="ui icon input fieldValue"><input type="password" placeholder="your password"/><i
                    class="eye icon"></i></div>
        </div>
    </div>

</div>