#signUpForm {
    margin-top: 3em;
}

#signUpForm .operatepanel {
    margin-top: 2em;
}

#signUpForm.ui.form .inline.fields {
    margin: 1.5em 0 1.5em;
}

#signUpForm .ui.icon.input .eye.icon {
    cursor: pointer;
}

#captchaimg {
    cursor: pointer;
    border: 1px solid rgba(34, 36, 38, .15);
    padding: 0.1em .5em;
    height: 38px;
    width: 100%;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
}